*,
*:after,
*:before {
  box-sizing: border-box;
}

.steps-container {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  border-left: 2px solid;
  border-right: 2px solid;
  width: 100%;
  counter-reset: steps;
}
.steps {
  position: relative;
  display: inline-block;
  left: -28px; /* -2px default + 26px offset to hide skewed area on the left side of first element*/
  height: 50px;
  line-height: 50px;
  margin-left: 0px;
  margin-right: 0px;
  counter-increment: steps;
  cursor: pointer;
  transition: background 1s;
  min-height: 30px;
}

.steps:after,
.steps:before {
  position: absolute;
  content: "";
  left: 0px;
  height: 50%;
  width: 100%;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-left: 3px solid; /* thicker border as skew makes them look thin */
  border-right: 3px solid;
  background: rgba(255, 255, 255, 0.15);
}

.steps:before {
  transform: skew(45deg);
  top: 0px;
  border-bottom: none;
  transform-origin: top left;
}

.steps:after {
  transform: skew(-45deg);
  bottom: 0px;
  border-top: none;
  transform-origin: bottom left;
}

.steps span {
  display: block;
  padding-left: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 75%;
  vertical-align: middle;
}

.steps span:before {
  content: counter(steps) ". ";
}
.steps.active span {
  font-weight: bold;
}
.steps.active:before,
.steps.active:after {
  background: rgba(0, 0, 0, 0.5);
}

/* Just for demo */
html,
body {
  font-family: Calibri, Tahoma;
  height: 400px;
  background: linear-gradient(90deg, #803689, #5eb6e4);
}
input[type="range"] {
  vertical-align: middle;
}
label {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: 1.1px;
}
